
body{
  background: var(--tint-blue);
}

header{
  padding: 1.6rem 0;
}

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header nav{
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

header nav ul{
  display: flex;
  gap: 3.2rem;
}

header nav ul li a{
  color: var(--grey-light);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  opacity: 0.8;
}