*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

html{
  font-size: 62.5%;
}

img{
  width: 100%;
  max-width: 100%;
}

a{
  display: inline-block;
  text-decoration: none;
}

ul{
  list-style: none;
}